body{
 /* color: whitesmoke; */
 background-color: whitesmoke!important;
}
.admin{
  text-align: center;
  padding: 50px;
  font-size: 15px;
}
.home_photos h1{
  font-size: 25px!important;
  float: left;
}
.home_photos img{
  border-radius: 5px;
  width: 75px;
  height: 45px;
  float: left;
}

.col-sm-10{
  margin-top: 5em!important;
}
.thumbnail{
  border: none!important;
  border-radius: 5px;
}
.thumbnail>img{
  margin: 37px;
}
header img{
  background-position: center;
}
/* -----------------Navbar---------------------------- */
.header {
  padding: 30px;
  text-align: center;
  color: whitesmoke;
}

#navbar {
  overflow: hidden;
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
}

#navbar a:hover {
  background-color: #333;
  color: black;
}

#navbar a.active {
  background-color: #333;
  color: whitesmoke;
}

.content {
  padding: 16px;
}
.content h1{
  font-style: italic;
  opacity: 0.5;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
/*----------------------------------------------------Button & input Form error---------------------------------------------------*/
.form-group label{
  color: #000;
}
.form-group,.form-group input,.form-group select,.form-group label{
  height: 45px;
} 
input[type="file"]{
  padding: 5px;
  border: 1px solid #121212;
  border-radius: 5px;
  height: 40px!important;
  margin: 30px;
}
input[type="text"]{
margin-bottom: 0!important;
}
.help-inline{
  color:rgb(202, 53, 53)!important;
}
button{
 width: 50%;
 font-size: 25px!important;
 margin:0 auto!important;
 padding: 10px;
 margin: 30px!important;
 border-radius: 5px!important;
 background: transparent;
 color: whitesmoke;
 text-shadow: 1px 1px #000;
 border :1px solid #fff;
 transition: all 0.4s ease 0s;
}
button:hover{
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  text-decoration: none!important;
  background: transparent!important;
  color: #121212;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
}
.butAdmin{
  border: none;
  text-decoration: none;
  background: #121212;
  color: #ffffff !important;
  font-weight: 100;
  padding: 10px;
  margin: 50px!important;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.4s ease 0s;
}
.butAdmin:hover{
  color: #404040 !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: #fff;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
}
.ajout{
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #658b72;
  margin: 30px 35px;
  display: block;
  padding: 10px;
  font-size: 12px;
  border-radius: 5px;
  display: inline-block;
  border :1px solid whitesmoke;
  transition: all 0.4s ease 0s;
  }
  .ajout:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    text-decoration: none!important;
    background: transparent;
    }
.form-actions{
  border: none!important;
  background: none!important;
  padding: 0!important;
}
.mySelect select{
  width:120px!important;
}
/*----------------------------------------------------Général datatable-----------------------------------------------*/
.dataTables_wrapper {
  margin: 0 2em;
}
.dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate {
  font-size: 0.7em;
  text-transform: uppercase;
  margin-bottom: 2em;
  padding: 10px!important;
}

table.dataTable {
  margin-bottom: 2em;
  opacity: 0.9;
}
.table {
  background-color: #fff;
}
.table thead{
  font-size: 0.7em;
  text-transform: uppercase;
  height: 100px;
}
.table tbody label {
  display: none;
  margin-right: 5px;
  width: 50px;
}
.table > tbody > tr > td {
  padding: 0.8em 8px;
}
.table .photo {
  width: 40px;
  margin: 0 auto;
}
.table .photo img {
  border-radius: 50%;
  width: 100%;
  height: auto;
  transition: transform .2s;
}
.table .photo img:hover {
  border-radius: 5%;
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
  opacity: 1;
}
table.cards {
  background-color: transparent;
}
.cards thead, .cards tfoot {
  display: none;
}
.cards tbody .photo {
  min-width: 150px;
  min-height: 100px;
  border-radius: 0;
}
.cards tbody tr {
  float: left;
  width: 25%;
  height: 255px;
  position: relative;
  overflow: hidden;
  margin-bottom: 1px;
  background-color: #ffffff !important;
  border: 2px solid #626262;
  border-radius: 2px;
}
.cards tbody tr:first-child td {
  border-top: 1px solid #ddd !important;
}
.cards tbody tr td {
  padding: 12px;
  font-size: 80%;
  text-align: center;
  display: none;
}
.cards tbody tr td:nth-child(1), .cards tbody tr td:nth-child(2), .cards tbody tr td:nth-child(3), .cards tbody tr td:nth-child(4) {
  display: block;
}
.cards tbody tr td:nth-child(2) {
  display: block;
  color: #658b72;
  position: relative;
  font-size: 100%;
  height: 25px;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
}
.cards tbody tr td:nth-child(2):after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0px;
  width: 5px;
  height: 100%;
  background: #fff;
}
.cards tbody tr td:nth-child(3) {
  font-size: 80%;
  opacity: 0.5;
}
.cards tbody tr td:nth-child(4) {
  font-size: 70%;
  opacity: 0.75;
  text-transform: uppercase;
  border: transparent !important;
  background: rgba(0, 0, 0, 0.30);
  padding: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

}
.cards tbody td {
  display: block;
  overflow: hidden;
  text-align: left;
}
.cards tbody label {
  display: inline;
  position: relative;
  font-size: 85%;
  font-weight: normal;
  top: -5px;
  left: -3px;
  float: left;
}
.cards tbody td:nth-child(1) {
  text-align: center;
}

select.nav {
  margin: 2em 2em;
}
.nav {
  /* margin: 0 2em 2em 2em; */
  display: flex!important;
 flex-direction: column!important;
 align-items: center!important;
 justify-content: left!important;
 text-align: center;
}
.nav a {
  text-shadow: 1px 1px black;
  text-decoration: none;
  color: #ddd;
  font-weight: bold;
  font-size: 20px;
  padding: 8px;
  cursor: pointer;
}
.nav a:hover{
color: #658b72;
}

.parking,.ajoutParking,.conn{
  background:url(../images/parking.jpg)no-repeat;
  background-size:cover,cover;
}
.admin h1{
  text-shadow: 1px 1px rgb(170, 169, 169);
  margin-bottom: 50px!important;
}
.myTable{
  background-color: whitesmoke;
  /* background:url(../images/pilepneus.png)no-repeat;
  background-size:cover,cover; */
}
.c_hello,.c_delete{
  background:url(../images/car.jpg)no-repeat;
  background-size:cover,cover;
}
/* Portrait tablets and small desktops */
@media (max-width: 1200px) {
  .nav li {
    float: left;
  }
  .cards tbody .photo {
    width: 100px;
    border-radius: 0;
  }
  .cards tbody tr {
    float: left;
    width: 42%;
    height: 250px;
  }
}
@media (max-width: 768px) {
  .nav li {
    float: left;
  }
  .cards tbody .photo {
    width: 100px;
  }
  .cards tbody tr {
    float: left;
    width: 100%;
    height: 250px;
  }
}
