body{
 color: whitesmoke!important;
}
/* Style modal saving in progress */
#divModalSaving {
	background-image: url("../images/chargement.gif");
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1000;
}
/* Style modal all space */
.modalChanged {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1000;
}
button{
 width: 50%;
 margin:0 auto!important;
 padding: 10px;
 border-radius: 5px!important;
 display: block;
 margin-left: auto;
 margin-right: auto;
 color: #000;
}
button:hover{
  text-decoration: none;
  background-color:transparent!important;
  color: #fff;
}
.butAdmin{
  border: none;
  text-decoration: none;
  background: #121212;
  color: #ffffff !important;
  font-weight: 100;
  padding: 10px;
  margin: 50px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}
.butAdmin:hover{
  color: #404040 !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: #fff;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
}
.ajout{
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #14c04d;
  margin: 30px 35px;
  display: block;
  padding: 10px;
  font-size: 12px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  }
  .ajout:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    text-decoration: none;
    background: transparent;
    }
.col-sm-10{
  margin-top: 5em!important;
}
/*----------------------------------------------------Button & input Form---------------------------------------------------*/

/*----------------------------------------------------Général datatable-----------------------------------------------*/
.dataTables_wrapper {
  margin: 0 2em;
}
.dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate {
  font-size: 0.7em;
  text-transform: uppercase;
  margin-bottom: 2em;
  color: whitesmoke!important;
  padding: 10px;
}

table.dataTable {
  margin-bottom: 2em;
  opacity: 0.9;
}
.table {
  background-color: #fff;
}
.table thead, .table tfoot {
  font-size: 0.7em;
  text-transform: uppercase;
  height: 100px;
}
.table tbody label {
  display: none;
  margin-right: 5px;
  width: 50px;
}
.table > tbody > tr > td {
  padding: 1em 8px;
}
.table .photo {
  width: 80px;
  margin: 0 auto;
}
.table .photo img {
  border-radius: 50%;
  width: 100%;
  height: auto;
}
.table .photo img:hover {
  border-radius: 5%;
}
table.cards {
  background-color: transparent;
}
.cards thead, .cards tfoot {
  display: none;
}
.cards tbody .photo {
  width: 150px;
  border-radius: 0;
}
.cards tbody tr {
  float: left;
  width: 22%;
  height: 280px;
  position: relative;
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: #ffffff !important;
  border: 2px solid #626262;
  border-radius: 2px;
}
.cards tbody tr:first-child td {
  border-top: 1px solid #ddd !important;
}
.cards tbody tr td {
  padding: 12px;
  font-size: 80%;
  text-align: center;
  display: none;
}
.cards tbody tr td:nth-child(1), .cards tbody tr td:nth-child(2), .cards tbody tr td:nth-child(3), .cards tbody tr td:nth-child(4) {
  display: block;
}
.cards tbody tr td:nth-child(2) {
  display: block;
  position: relative;
  font-size: 100%;
  height: 25px;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
}
.cards tbody tr td:nth-child(2):after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0px;
  width: 5px;
  height: 100%;
  background: #fff;
  box-shadow: 0px 0px 20px 10px #fff;
}
.cards tbody tr td:nth-child(3) {
  font-size: 80%;
  opacity: 0.5;
}
.cards tbody tr td:nth-child(4) {
  font-size: 70%;
  opacity: 0.75;
  text-transform: uppercase;
  border: transparent !important;
  background: rgba(0, 0, 0, 0.05);
  padding: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.cards tbody td {
  display: block;
  overflow: hidden;
  text-align: left;
}
.cards .glyphicon {
  font-size: 75px;
}
.cards tbody label {
  display: inline;
  position: relative;
  font-size: 85%;
  font-weight: normal;
  top: -5px;
  left: -3px;
  float: left;
  color: whitesmoke;
}
.cards tbody td:nth-child(1) {
  text-align: center;
}

select.nav {
  margin: 2em 2em;
}
.nav {
  /* margin: 0 2em 2em 2em; */
  display: flex!important;
 flex-direction: column!important;
 align-items: center!important;
 justify-content: left!important;
 text-align: center;
}
.nav a {
  text-decoration: none;
  color: #ddd;
  font-weight: bold;
  font-size: 15px;
  padding: 8px;
  cursor: pointer;
}

/* Portrait tablets and small desktops */
@media (max-width: 1200px) {
  .nav li {
    float: left;
  }
  .cards tbody .photo {
    width: 100px;
    border-radius: 0;
  }
  .cards tbody tr {
    float: left;
    width: 42%;
    height: 250px;
  }
}
@media (max-width: 768px) {
  .nav li {
    float: left;
  }
  .cards tbody .photo {
    width: 100px;
  }
  .cards tbody tr {
    float: left;
    width: 100%;
    height: 250px;
  }
}
